[package]
name = "acode-cli"
version = "0.1.0"
edition = "2021"
author = "coswat"
description = "Acode Plugin CLI [ MIT ]"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.4", features = ["derive"] }
dialoguer = "0.10"
console = "0.15"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
anyhow = "1.0"
thiserror = "1.0"